.tile {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
    grid-gap: 2.2rem;
    padding-left: 4rem;
    margin: 0 0 0.2rem 0.2rem;
    border-left: 0.5rem solid var(--color-surface-bottom);
    background-color: var(--color-surface-bottom);
    cursor: pointer;
}

.activeTile {
    position: relative;
    border-left: 0.5rem solid var(--color-active);
    background-color: var(--color-surface-top);
    box-shadow: 0 0.4rem 0.4rem rgba(var(--color-black-shadow), 0.25);
    transition: background-color 0.1s ease-out;
}

.title {
    color: var(--color-font-regular);
    font-weight: 600;
}


.activeTitle {
    color: var(--color-font-major);
}

.date {
    color: var(--color-font-minor);
    font-weight: 600;
}

.activeDate {
    color: var(--color-font-regular);
}

.icon {
    height: 3.6rem;
    width: 3.6rem;
}

.header {
    display: grid;
    align-content: center;
    grid-gap: 0.5rem;
}
