.notes {
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
        'header header'
        'tiles editor'
        'footer footer';
    grid-row-gap: 0.2rem;
    grid-column-gap: 0.2rem;
    height: 100%;
    width: 100%;
    background: var(--color-background);
    overflow: hidden;
}
