html {
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0;
    font-size: 1.4rem;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.dark {
    --color-background: #1F1E24;
    --color-surface-top: #2D2C33;
    --color-font-regular: #ADADBE;
}
