html {
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0;
    font-size: 1.4rem;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.dark {
    font-family: 'Roboto', sans-serif !important;

    --color-button-hover: #db1d3e;
    --color-button-active: #b91e35;

    --color-black-shadow: 0, 0, 0;
    --color-sidebar-shadow: 35, 31, 32;

    --color-background: #1F1E24;
    --color-surface-top: #2D2C33;
    --color-surface-bottom: #232228;
    --color-font-regular: #ADADBE;
    --color-font-major: #FFFFFF;
    --color-font-minor: #8A8A9B;
    --color-active: #F51D46;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/font/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('assets/font/Roboto-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/font/Roboto-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('assets/font/Roboto-Bold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
